<div class="center jumbotron" id="main">

  <!-- If logged in New Challenge, if not register -->
  <% if logged_in? %>

    <% provide(:title, 'All challenges') %>

    <h1 id="tab_header"> Hot Challenges </h1>

    <%# will_paginate %>
    <!-- this creates a tab form -->
    <div class="container">

      <ul class="nav nav-tabs" id="hometab">
        <li><a href="#tab1" data-toggle="tab" id="cat">All</a></li>
        <li><a href="#tab2" data-toggle="tab" id="cat1">Food</a></li>
        <li><a href="#tab3" data-toggle="tab" id="cat2">Sports</a></li>
        <li><a href="#tab4" data-toggle="tab" id="cat3">Other</a></li>
        <li><a href="#tab5" data-toggle="tab" id="cat4">Entertainment</a></li>
      </ul>
    </div>


    <div class="tab-content">

      <div class="tab-pane active" id="tab1">

        <% @challenges.each do |challenge| %>
          <!-- understand why this fixed the bug -->
          <div class="tab-container">
          <div class="challenge_pic">
          <li class="challenges challengeImage"><%= image_tag challenge.images, width: 75, height: 75, class: "pic" %></li>
          </div>
          <div id="allChallenges">
            <ul>
              <br>
              <li class="challenges"><%= link_to challenge.title, challenge %></li>
              <br>
              <li class="challenges"><%= challenge.category.name %></li>
              <br>
              <li class="challenges"><%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %></li>
              <br>
              <br>
            </ul>

          </div>
          </div>


        <% end %>

      </div>

        <div class="tab-pane active" id="tab2">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Food" %>
            <div class="challenge_pic">
            <li class="challenges challengeImage"><%= image_tag challenge.images, width: 75, height: 75, class: "pic" %></li>
            </div>
            <div id="allChallenges">
              <ul>
                <br>
                <li class="challenges"><%= link_to challenge.title, challenge %></li>
                <br>
                <li class="challenges"><%= challenge.category.name %></li>
                <br>
                <li class="challenges"><%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %></li>
                <br>
                <br>
              </ul>
            </div>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane active" id="tab3">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Sports" %>
            <div class="challenge_pic">
              <li class="challenges challengeImage"><%= image_tag challenge.images, width: 75, height: 75, class: "pic" %></li>
            </div>
            <div id="allChallenges">
              <ul>
                <br>
                <li class="challenges"><%= link_to challenge.title, challenge %></li>
                <br>
                <li class="challenges"><%= challenge.category.name %></li>
                <br>
                <li class="challenges"><%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %></li>
                <br>
                <br>
              </ul>
            </div>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane active" id="tab4">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Other" %>
            <div class="challenge_pic">
              <li class="challenges challengeImage"><%= image_tag challenge.images, width: 75, height: 75, class: "pic" %></li>
            </div>
            <div id="allChallenges">
            <ul>
              <br>
              <li class="challenges"><%= link_to challenge.title, challenge %></li>
              <br>
              <li class="challenges"><%= challenge.category.name %></li>
              <br>
              <li class="challenges"><%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %></li>
              <br>
              <br>
            </ul>
            </div>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane active" id="tab5">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Entertainment" %>
            <div class="challenge_pic">
              <li class="challenges challengeImage"><%= image_tag challenge.images, width: 75, height: 75, class: "pic" %></li>
            </div>
            <div id="allChallenges">
            <ul>
              <br>
              <li class="challenges"><%= link_to challenge.title, challenge %></li>
              <br>
              <li class="challenges"><%= challenge.category.name %></li>
              <br>
              <li class="challenges"><%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %></li>
              <br>
              <br>
            </ul>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>
    <br>
    <br>
    <br>







  <!-- add all the challenges and make it look more like the site -->
    <div style="margin-left: 420px"><%= link_to "Add a Challenge!", new_challenge_path, class: "btn btn-lg btn-primary" %></div>

  <% else %>
  <h1>Let Me Peekatchu-r Challenge</h1>

  <h2>
    This is the home page for the
  </h2>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Log In
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Peekatchu-r-Challenge</h4>
        </div>
        <div class="modal-body">
           <h1>Log in</h1>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= form_for(:session, url: login_path) do |f| %>

                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>

                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>

                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>

                  <%= f.submit "Log in", class: "btn btn-primary" %>
                <% end %>

                <p>New user? <%= link_to "Sign up now!", signup_path %></p>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <%= link_to "Register", signup_path, class: "btn btn-lg btn-primary" %><br><br>
  <% end %>
  </div>
</div>

<br>
<br>


<img id="pika" alt="Peekatchu-r logo" src="/assets/pikachu.jpg" />

