<div class="center jumbotron" id="main" style="background-color: floralwhite">

  <!-- If logged in New Challenge, if not register -->
  <% if logged_in? %>

    <% provide(:title, 'All challenges') %>



    <h1 id="tab_header"> New Challenges </h1>

    <%# will_paginate %>
    <!-- this creates a tab form -->
    <div class="container">

      <ul class="nav nav-tabs" id="hometab">
        <li><a href="#tab1" data-toggle="tab" id="cat">All</a></li>
        <li><a href="#tab2" data-toggle="tab" id="cat1">Sports</a></li>
        <li><a href="#tab3" data-toggle="tab" id="cat2">Entertainment</a></li>
        <li><a href="#tab4" data-toggle="tab" id="cat3">Food</a></li>
        <li><a href="#tab5" data-toggle="tab" id="cat4">Other</a></li>
      </ul>
    </div>




    <table class="table table-striped">
      <tr>
        <th style="text-align: center"><%= link_to "Images", challenges_sort_path(id: "images")%></th>
        <th style="text-align: center"><%= link_to "Title", challenges_sort_path(id: "title")%></th>
        <th style="text-align: center"><%= link_to "Description", challenges_sort_path(id: "category_id")%></th>
        <th style="text-align: center"><%= link_to "Created", challenges_sort_path(id: "description")%></th>
      </tr>
      <tr>
      </table>


    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <% @challenges.each do |challenge| %>
          <% if !challenge.category.name.nil? %>
            <table class="table table-striped">
                  <td class="col-md-3">
                  <%= link_to challenge_path(challenge) do %>
                     <%= image_tag challenge.images, width: 75, height: 75 %>
                  <% end %>
                  </td>
                  <td class="col-md-3"><%= challenge.title %></td>
                  <td class="col-md-3"><%= challenge.description %></td>
                  <td class="col-md-3"><%= challenge.created_at %></td>
                </tr>
              </table>
          <% end %>
        <% end %>
      </div>

        <div class="tab-pane" id="tab2">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Sports" %>
            <table class="table table-striped">
                <tr>
                  <td class="col-md-3">
                  <%= link_to challenge_path(challenge) do %>
                     <%= image_tag challenge.images, width: 75, height: 75 %>
                  <% end %>
                  </td>
                  <td class="col-md-3"><%= challenge.title %></td>
                  <td class="col-md-3"><%= challenge.description %></td>
                  <td class="col-md-3"><%= challenge.created_at %></td>
                </tr>
              </table>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane" id="tab3">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Entertainment" %>
              <table class="table table-striped">
                <tr>
                  <td class="col-md-3">
                  <%= link_to challenge_path(challenge) do %>
                     <%= image_tag challenge.images, width: 75, height: 75 %>
                  <% end %>
                  </td>
                  <td class="col-md-3"><%= challenge.title %></td>
                  <td class="col-md-3"><%= challenge.description %></td>
                  <td class="col-md-3"><%= challenge.created_at %></td>
                </tr>
              </table>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane" id="tab4">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Food" %>
              <table class="table table-striped">
                <tr>
                  <td class="col-md-3">
                  <%= link_to challenge_path(challenge) do %>
                     <%= image_tag challenge.images, width: 75, height: 75 %>
                  <% end %>
                  </td>
                  <td class="col-md-3"><%= challenge.title %></td>
                  <td class="col-md-3"><%= challenge.description %></td>
                  <td class="col-md-3"><%= challenge.created_at %></td>
                </tr>
              </table>
          <% end %>
        <% end %>
        </div>

        <div class="tab-pane" id="tab5">
        <% @challenges.each do |challenge| %>
          <% if challenge.category.name == "Other" %>
              <table class="table table-striped">
                <tr>
                  <td class="col-md-3">
                  <%= link_to challenge_path(challenge) do %>
                     <%= image_tag challenge.images, width: 75, height: 75 %>
                  <% end %>
                  </td>
                  <td class="col-md-3"><%= challenge.title %></td>
                  <td class="col-md-3"><%= challenge.description %></td>
                  <td class="col-md-3"><%= challenge.created_at %></td>
                </tr>
              </table>
          <% end %>
        <% end %>
        </div>
      </table>
    </div>
    <br>
    <br>
    <br>
</div>
  <!-- add all the challenges and make it look more like the site -->
    <div style="margin-left: 43%;"><%= link_to "Add a Challenge!", new_challenge_path, class: "btn btn-lg btn-default"%></div>

  <% else %>

  <div class="container-pic">
    <div class="background-pic">
      <div class="pic">
      <br>
      <br>
      <br>
      <br>
      <br>
        <h1 class="title" style="color:white">Peekatchu-R Challenge</h1>
          <div class="twobuttons">
            <div class="button1">
              <button type="button" id="new" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 45%; padding-right: 22px; text-align: center">
                Log In
              </button>
            </div>
            <div class="button2">
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2" style="margin-left: 45%">
                Register
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" style="text-align: center">
          Peekatchu-r-Challenge</h4>
        </div>
        <div class="modal-body">
           <h1>Log in</h1>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= form_for(:session, url: login_path) do |f| %>

                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>

                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>

                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>

                  <%= f.submit "Log in", class: "btn btn-primary" %>
                <% end %>

                <p>New user? <%= link_to "Sign up now!", signup_path %></p>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Peekatchu-r-Challenge</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_for(:user, url: create_user_path) do |f| %>


                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>

                <%= f.label :images %>
                <%= f.text_field :images, class: 'form-control' %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>

                <%= f.submit "Create my account", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



  <% end %>
<!-- </div> -->





  <%= link_to root_path do %>
    <img id="pika" alt="Peekatchu-r logo" src="/assets/cap-pika.jpg" style="margin-left: 46%; margin-top: 3%" />
  <% end %>

