<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
    <!-- image goes here -->
        <% if @user.images.nil? %>
          <img id="pika" alt="Peekatchu-r logo" src="/assets/pikachu.jpg" />
          <%= @user.name %>
        <% else %>
          <div id="proImage"><%= image_tag @user.images, id:"profile_pic" %></div><br>
          <%= @user.name %>
        <% end %>
      </h1>
      <br>
      <%= @user.email %>


      <div><%= link_to "delete", @user, method: :delete,
                                    data: { confirm: "You sure?" } %></div>


    </section>
  </aside>
</div>

