<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Website for Challenges</a>
    by <a href="http://www.michaelhartl.com/">John Kwak</a>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Challenges", challenges_index_path %></li>
      <% else %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
